<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.iametza.plugin.GpsDetection" version="0.0.1">
    <name>GPSDetect</name>
    <description>Gps-a martxan dagoen egiaztatzen du plugin honek</description>
    <license>Apache 2.0</license>
    <author>Iametza interaktiboa</author>
     <asset src="www/GpsDetect.js" target="plugins/GpsDetect.js" />
  <engines>
    <engine name="cordova" version=">=2.7.0" />
  </engines>
    <keywords>gps, detect</keywords>
    <js-module src="www/GpsDetect.js" name="gpsDetect">
        <clobbers target="gpsDetect" />
    </js-module>
    
    <!-- android -->
    <platform name="android">
      <asset src="www/GpsDetect.js" target="GpsDetect.js" />
        <config-file target="config.xml" parent="/*">
            <feature name="GpsDetection">
                <param name="android-package" value="com.iametza.plugin.GpsDetection"/>
            </feature>
        </config-file>
    </platform>    
</plugin>
